body{
    background-image: url("images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px;
}

.wrapper-3{
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(225, 191, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
}

.wrapper-4{
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(225, 191, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
}

.wrapper-5{
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(225, 191, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
}

.wrapper-6{
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(225, 191, 231, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
}
